# this file should be placed in the home directory (~/)

[user]
	name = oscarparamo
	email = oscarparamo@nectarom.com
[core]
	excludesfile = /Users/oparamo/.gitignore_global
	editor = subl -n -w
[push]
	default = simple
[alias]
    a = add
    aa = add *
    ap = add -p
    b = branch
    ba = branch -a
    bd = branch -d
    c = commit --verbose
    cam = commit -am
    cm = commit -m
    co = checkout
    cob = checkout -b
    finish = !git rebase -i $(git merge-base HEAD master)
    initc = !git init && git commit --allow-empty -m \"Initial commit.\" --allow-empty
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    m = commit --amend --verbose
    patch = add --patch
    prod = !git checkout production && git merge master && git push && git checkout master
    publish = push -u origin HEAD
    pullr = pull --rebase
    rb = rebase
    st = status
    undo = reset HEAD@{1}
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
